.v-btn.btn--like {
    border-radius: 50%;
    width: 1px;
    box-shadow: none;
    min-width: 0px;
    margin-top: 4px;
    background-color: #d6d6d6;
}
.btn--icon.mdi-thumb-up {
    color: white;
}
.btn--like.--true {
    background-color:green;
}
.--false {
border: 1px black solid;

}