.v-btn.btn--like {
    border-radius: 50%;
    width: 1px;
    box-shadow: none;
    min-width: 0px;
    margin-top: 4px;
}
.btn--icon.mdi-thumb-up {
    color: white;
}
.--true {
border: 1px black solid;
background-color:white;
}
.--false {
background-color:green;
}