.v-card-actions .v-btn {
    color:black;
}

.v-card-actions .v-btn:hover{
    background-color:#091F43;
    color:white;
    box-shadow: none;
}

.v-card-actions .v-btn:first-child:hover{
    background-color:#091F43;
    color:white;
    box-shadow: none;
}
