.card--comment {
    margin: 6px;
    margin-left: 16px;
    background-color: #d7d7d7;
    border-radius: 100px  / 120px 10px;
    flex: initial;
}
.comment--section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    max-height: 150px;
}
.comment_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.v-btn.btn--closed {
    box-shadow: none;
    background-color: #d1515a;
    width: 0px;
    height: 30px;
    min-width: 0px;
    margin-left: 16px;
}
.v-btn.btn--add {
    box-shadow: none;
    background-color: green;
    width: 0px;
    height: 30px;
    min-width: 0px;
    margin: 5px 0px 5px 16px;
}
.icon--close {
    color:white;
    font-size: 14px;
    font-weight: bold;
}

.icon--add {
    color: white;
    font-size: 14px;
    font-weight: bold;
}