.card--comment {
    margin: 6px;
    margin-left: 16px;
    background-color: white;
    border-radius: 100px  / 120px 10px;
    flex: initial;
}
.comment--section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 150px;
}
.comment--section::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: transparent;
}

.comment--section::-webkit-scrollbar-thumb {
    background: #091F43;
    -webkit-border-radius: 16px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
.comment_container {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.v-btn.btn--closed {
    box-shadow: none;
    background-color: #d1515a;
    width: 0px;
    height: 30px;
    min-width: 0px;
    margin-left: 16px;
}
.v-btn.btn--add {
    box-shadow: none;
    background-color: green;
    width: 0px;
    height: 30px;
    min-width: 0px;
    margin: 5px 0px 5px 16px;
}
.icon--close {
    color:white;
    font-size: 14px;
    font-weight: bold;
}

.icon--add {
    color: white;
    font-size: 14px;
    font-weight: bold;
}