.v-footer.--footer{
    padding-top: 2rem;
    background: #091F43;
    border-top:2px solid #d1515a;
    color: white;
    max-height: 150px;
}
.footer--contact {
    display: flex;
}
.footer--contact h2 {
    font-size: 16px;
}
.v-footer .footer--contact:hover {
    border-bottom: #d1515a 2px solid;
}
.v-footer .footer--contact a {
    text-decoration: none;
    color: white;
    margin-left: 4px;
}
.v-application__wrap {
    display: block;
}