.v-form.--error_login{
    color: #d1515a;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.v-form.--error_create{
    color: #d1515a;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.disabled {
    background-color: grey;
}
.bg-success:hover {
    box-shadow: 2px 2px 15px black;
}
.btn--form span {
    color: white;
}
