.v-form.--error_login{
    color: #d1515a;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.v-form.--error_create{
    color: #d1515a;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.disabled {
    background-color: grey;
}
.btn--form {
    background-color: #091f43;
}
.btn--form:hover {
    border-bottom: #d1515a 2px solid;
    box-shadow: 2px 2px 15px black;
}
.btn--form span {
    color: white;
}
