
.v-form .v-btn {
    text-decoration: none;
}
.v-card {
    margin: 32px;
    padding: 16px;
    box-shadow: 2px 2px 15px black;
}
.v-btn.btn--first {
    color:#091F43;
    font-size: 16px;
    font-weight: bold;
    box-shadow: none;   
}
.v-btn.btn--first:hover {
    background-color: rgba(209,81,90,0.46);  
    color: rgba(9,31,67,0.8);
}
.v-btn.--connexion:hover {
    box-shadow: 2px 2px 10px black; 
}

.--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('../images/Home.png');
    background-position: center;
    background-repeat: no-repeat;
}
.disabled {
    background-color: grey;
}
.v-form.--error_login{
    color: #d1515a;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.v-form.--error_create{
    color: #d1515a;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.v-card-text.--subtitle {
    color: rgba(9,31,67,0.8);
    text-decoration: underline;
    cursor: pointer;
}
.v-container.--container{
    display: flex;
    flex-direction: column;
}
h1.--title {
    margin: 40px 0 0;
    color: #D1515A;
}
.v-container.--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('../images/Home.png');
    background-position: center;
    background-repeat: no-repeat;
}