
.v-form .v-btn {
    text-decoration: none;
}
.v-card {
    margin: 32px;
    padding: 16px;
    box-shadow: 2px 2px 15px black;
}
.card--text{
    color: black;
}
.v-btn.btn--first {
    color:#091F43;
    background-color: #d6d6d6;
    font-size: 16px;
    font-weight: bold;
    box-shadow: none;   
}
.v-btn.btn--first:hover {
    background-color: rgba(209,81,90,0.46);  
    color: rgba(9,31,67,0.8);
}
.v-btn.--connexion:hover {
    box-shadow: 2px 2px 10px black; 
}

.card.--subtitle {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    opacity: initial;
}
.card.--subtitle h2 {
    font-size: 16px;
}
.v-card-title.--title {
    margin: 40px 0 0;
    color:#d1515a;
    background-color: white;
    border-radius: 16px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.title--inscription {
    padding-top: 10px;;
}
.v-container.--container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('../images/groupo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card--form {
    background-color: #d6d6d6;
}

@media screen and (min-width: 1280px) {
    .v-container {
        max-width: none;
    }
}
@media screen and (min-width: 960px) {
    .v-container {
        max-width: none;
    }
}
