.container--users {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
    padding: 0px;
    height: 100%;
}
.user--infos{
    padding-top: 16px;
}
.container {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
.user--infos p {
    font-weight: bold;
}
.container--users .--card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: #d7d7d7;
    min-height: 380px;
    min-width: 250px;
    border: 2px solid #d1515a;
    padding: 2px;
    border-radius: 16px;
}
.v-card-actions.--btn-users{
    display: flex;
    flex-direction: column;
}
.--btn-users {
    width: 100%;
}
.--card .avatar--img {
    position: absolute;
    z-index: 1;
    top: -27px;
    height:100px;
    width: 106px;
    border: #d1515a 2px solid;
    background: #091f43;
}
.--btn-users .btn--delete {
  color: #091F43;
  font-weight: bold;
  text-decoration: underline 2px #d1515a;
}
.--btn-users .btn--delete:hover {
  text-decoration: none;
}

.user--title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:6px;
    text-align: center;
    width: 100%;
    background-color: #091F43;
    border-bottom:4px solid #d1515a;
    border-top:4px solid #d1515a;
    color: white;
}
@media screen and (max-width: 310px) {
    .--card .avatar--img {
        display:none;
    }
    .container--users .--card{
        min-height: 225px;
        justify-content: initial;
    }
    .user--title {
        border-radius: 16px 16px 0px 0px;
        border-top:none;
        top:0;
    }
}