.toolbar--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.toolbar--img.logo {
margin-right: 16px;
width: 150px;
color: white;
}
.toolbar--img.logo:hover {
cursor: pointer;
}
.toolbar--header {
background: #091F43;
border-bottom:2px solid #d1515a;
}
@media screen and (max-width: 400px) { 
    .toolbar--img.logo {
        padding-bottom: 20px;
    } 
    .toolbar--content {
        justify-content: center;
    }
}